@model UpdateDestinationDto
@{
    ViewData["Title"] = "UpdateDestination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Rota Güncelleme Sayfası</h1>
<form method="post">
    <label>Şehir</label>
    <input type="text" asp-for="City" class="form-control" />
    <span asp-validation-for="City" class="text-danger"></span>
    <br />
    <label>Gün Gece</label>
    <input type="text" asp-for="DayNight" class="form-control" />
    <span asp-validation-for="DayNight" class="text-danger"></span>
    <br />
    <label>Fiyat</label>
    <input type="text" asp-for="Price" class="form-control" />
    <span asp-validation-for="Price" class="text-danger"></span>
    <br />
    <label>Ana Görsel</label>
    <input type="text" asp-for="Image" class="form-control" />
    <span asp-validation-for="Image" class="text-danger"></span>
    <br />
    <label>Kapasite</label>
    <input type="text" asp-for="Capacity" class="form-control" />
    <span asp-validation-for="Capacity" class="text-danger"></span>
    <br />
    <label>Kapak Görseli</label>
    <input type="text" asp-for="CoverImage" class="form-control" />
    <span asp-validation-for="CoverImage" class="text-danger"></span>
    <br />
    <label>Görsel 2</label>
    <input type="text" asp-for="Image2" class="form-control" />
    <span asp-validation-for="Image2" class="text-danger"></span>
    <br />
    <label>Detay 1</label>
    <textarea cols="30" rows="5" class="form-control" asp-for="Details1"></textarea>
    <br />
    <label>Detay 2</label>
    <textarea cols="30" rows="5" class="form-control" asp-for="Details2"></textarea>
    <br />
    <button class="btn btn-outline-primary">Duyuruyu Oluştur</button>
</form>

